/* ==== Tab groups ==== */
/* https://github.com/Anoms12/Advanced-Tab-Groups */
/* ====== V2.9.1s ====== */
tab-group {
    --advanced-tab-color-primary: light-dark(var(--tab-group-color), var(--tab-group-color-invert));
    --advanced-tab-color-secondary: light-dark(
      color-mix(in srgb, var(--tab-group-color) 60%, transparent),
      color-mix(in srgb, var(--tab-group-color-invert) 60%, transparent)
    );
    --tab-group-color-pale: transparent !important;
    .tab-group-label-container {
        height: 36px !important;
        padding: 0 !important;
        margin: 0 !important;
        border-radius: var(--border-radius-medium) !important;
        display: flex !important;
        align-items: center !important;
        padding-right: 10px !important;
        .tab-group-label {
            margin-right: auto !important;
            width: 100%;
            background-color: transparent !important;
            color: var(--tab-selected-textcolor) !important;
            font-weight: 500 !important;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            &::before {
                margin-left: 7px;
                margin-right: 6px;
                display: flex;
                content: "";
                min-width: 16px !important;
                width: 16px;
                height: 16px;
                border-radius: 4px;
                background-color: var(--advanced-tab-color-primary);
                position: relative;
                left: 0;
            }
            .tab-group-rename-input {
                white-space: nowrap !important;
                overflow-x: scroll !important;
                margin: 0 !important;
                background: transparent !important;
                border: none !important;
                padding: 0 !important;
                outline: none !important !important;
                border-radius: 0 !important;
            }
        }
        &:hover {
            background-color: var(--tab-hover-background-color) !important;
            .tab-close-button {
                -moz-window-dragging: no-drag !important;
                visibility: visible !important;
            }
        }
    }
    .tab-group-container {
        max-height: 100%;
        transition: max-height 0.3s ease, opacity 0.3s ease;
        position: relative;
        margin-left: 12px !important;

        &:after {
            content: "";
            position: absolute;
            left: -2px !important;
            top: 0;
            background-color: var(--advanced-tab-color-secondary);
            height: 100%;
            width: 2px;
            pointer-events: none !important;
            }
        }
    &[collapsed=""] {
        .tab-group-container {
            max-height: 0 !important;
            opacity: 0 !important;
        }
    }
}
